:root {
    --primary: #b79272;
    --black: #bfab98;
    --white: #cbb6a1;
    --color-1: #333333;
    --color-2: #cccccc;
    --color-3: #2e4413;
    --color-4: #1c1c1c;
    --color-5: #efebe7;
    --color-6: #e3d6c8;
  }

.contact-us {
    padding: 100px 0 76px;
  }
  .contact-us h4 {
    margin: 0 0 40px;
    font-size: 32px;
    line-height: 48px;
    font-style: normal;
    font-weight: 600;
    color: var(--color-1);
  }
  .contact-us .nav {
    width: 80%;
  }
  .contact-us .nav .nav-item {
    margin: 0 0 24px;
    padding: 0 0 0 64px;
    position: relative;
  }
  .contact-us .nav .nav-item img {
    position: absolute;
    top: -2px;
    left: 0;
    width: 32px;
  }
  .contact-us .nav .nav-item .nav-link {
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
    color: #333333;
    padding: 0;
  }
  .contact-info {
    padding: 56px;
    position: relative;
    z-index: 1;
  }
  .contact-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  background-color: #ffedcf;
  z-index: -2;
}
  .contact-border {
    left: 24px;
    top: -24px;
    position: absolute;
    border: 2px solid white;
    height: 100%;
    width: 80%;
    z-index: -1;
  }
  .contact-info h3 {
    margin: 0 0 24px;
    font-size: 50px;
    line-height: 72px;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--color-1);
  }
  .contact-info p {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: black;
    width: 80%;
  }


  @media  (max-width: 1199px) {
  .contact-us h4 {
    font-size: 28px;
  }
  }

  @media  (max-width: 991px) {
    .contact-us {
        padding-block: 80px 48px;
      }
      .contact-us h4 {
        margin-bottom: 34px;
        font-size: 22px;
        line-height: 34px;
      }
      .contact-us .nav .nav-item {
        margin-bottom: 20px;
        padding-left: 48px;
      }
      .contact-us .nav .nav-item img {
        top: -1px;
        width: 26px;
      }
      .contact-us .nav .nav-item .nav-link {
        font-size: 16px;
        line-height: 24px;
      }
      .contact-info {
        padding: 52px;
      }
      .contact-info h3 {
        font-size: 42px;
        line-height: 48px;
      }
      .contact-info p {
        margin-bottom: 32px;
        font-size: 15px;
        line-height: 24px;
      }
      .contact-border {
        left: 18px;
        top: -18px;
      }
    }

    @media  (max-width: 767px) {
        .contact-us {
            padding: 10%;
          }
          .contact-us h4 {
            margin-bottom: 24px;
            font-size: 20px;
            line-height: 32px;
          }
          .contact-us .nav {
            margin-bottom: 24px;
          }
          .contact-us .nav .nav-item {
            margin-bottom: 16px;
            padding-left: 36px;
          }
          .contact-us .nav .nav-item img {
            top: 0px;
            width: 22px;
          }
          .contact-us .nav .nav-item .nav-link {
            font-size: 14px;
            line-height: 22px;
          }
          .contact-info {
            padding: 32px 32px 42px;
            width: 100%;
          }
          .contact-info h3 {
            margin-bottom: 16px;
            font-size: 26px;
            line-height: 42px;
          }
          .contact-info p {
            margin-bottom: 24px;
            font-size: 14px;
            line-height: 22px;
          }
          .contact-border {
            left: 12px;
            top: -12px;
          }
          .contact-box {
            height: 100%;
            width: 100%;
          }
    }