<section class="contact-us position-relative overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Hayatelier Interior Design</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <img src="https://www.yudiz.com/codepen/interior-design/location.svg" class="img-fluid" alt="Location">
              <a class="nav-link pe-none" href="javascript:void(0)">
                Abdyl Frasheri Street, <br>
                Prizren,
                Kosovo,
                20000
              </a>
            </li>
            <li class="nav-item">
              <img src="https://www.yudiz.com/codepen/interior-design/email.svg" class="img-fluid" alt="Email">
              <a class="nav-link" href="mailto:info@design.com">hayatelier@contact.com</a>
            </li>
            <li class="nav-item">
              <img src="https://www.yudiz.com/codepen/interior-design/call.svg" class="img-fluid" alt="Call">
              <a class="nav-link" href="tel:2150021500">+383 44 000 000</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="contact-info">
            <div class="contact-box"></div>
            <div class="contact-border"></div>
            <h3>Follow Us on Instagram!</h3>
            <p>Please fill out the form below with any questions you may have and someone will respond to you shortly. Thank You.</p>
            <a href="https://www.instagram.com/hhayatelier/" class="common-btn">Follow <img src="https://www.yudiz.com/codepen/interior-design/arrow-right.svg" class="img-fluid" alt="Arrow"></a>
          </div>
        </div>
      </div>
    </div>
  </section>