<div class="navbar">
    
</div>
<div class="menu-button">
  <button class="nav_toggle" id="nav" (click)="toggleNav()">
    <svg *ngIf="!isNavOpen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
      <path fill="currentColor" d="M21,6H3A1,1,0,0,0,3,8H21a1,1,0,0,0,0-2ZM3,13H21a1,1,0,0,0,0-2H3a1,1,0,0,0,0,2Zm0,5H21a1,1,0,0,0,0-2H3a1,1,0,0,0,0,2Z"/>
    </svg>
    <svg *ngIf="isNavOpen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
      <path fill="currentColor" d="M13.4,12,20,5.4,18.6,4,12,10.6,5.4,4,4,5.4,10.6,12,4,18.6,5.4,20,12,13.4,18.6,20,20,18.6Z"/>
    </svg>
  </button>
</div>

<div class="nav-responsive">
  <nav id="mb_nav" class="nav" [class.open]="isNavOpen">
    <ul>
      <li><a class="nav__link" routerLink="">Home</a></li>
      <li><a class="nav__link" routerLink="about-us">About Us</a></li>
      <li><a class="nav__link">Contact</a></li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>