/** styling nav button **/
.nav_toggle {
	z-index: 999;
	position: relative;
	display: inline-block;
	margin: 15px;
	color: white;
	border: 1px solid white;
	background-color: transparent;
	padding: 5px;
	height: 50px;
	width: 100px;
	text-align: center;
	transition: all 0.3s ease-in-out;
  }
  .nav_toggle:hover {
	background-color: white;
	color: black;
	cursor: pointer;
  }
  .nav_toggle.active {
	color: white;
	border-color: white;
  }
  .nav_toggle.active:hover {
  background-color: white;
  color: black;
  }
  
  
  /** styling mobile nav **/
  .nav {
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	background-color: #ffedce;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(-100%);
	overflow-y:hidden;
	overflow-x: hidden;
  }
  
  .nav li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	overflow: hidden;
  }
  .nav li a {
	font-size: 50px;
	line-height: 1.8;
	display: inline-block;
	color: black;
	opacity: 0;
	text-decoration: none;
	transform: translateY(75px);
  }
  .nav li a:hover {
	color: grey;
  }
  
  .nav,
  .menu-button {
	position: fixed;
	top: 0; right: 0;
  }
  
  .menu-button {
	z-index: 999;
  }
    