<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="about-us-container d-flex justify-content-center align-items-center">
                <div class="card shadow about-us-card">
                    <div class="card-body">
                        <h2 class="card-title text-center text-dark">About Us</h2>
                        <p class="card-text text-dark">
                            Welcome to Hayatelier, where we redefine sustainable living 
                            through exquisite furniture crafted with a conscience. Specializing 
                            in recyclable chairs, tables, and lamps, we merge functionality with 
                            eco-friendliness. Our commitment to quality craftsmanship and 
                            environmental stewardship ensures each piece not only enhances 
                            your space but also minimizes ecological footprint. Experience 
                            elegance with a purpose at Hayatelier. With a passion for 
                            preserving our planet, we meticulously design and curate furniture 
                            that harmonizes aesthetics with environmental responsibility. 
                            From sleek chairs to timeless tables and illuminating lamps, each 
                            creation embodies our dedication to a greener, more conscious lifestyle. 
                            Join us in shaping a brighter tomorrow, one elegant piece at a time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>