<div class="banner overflow-hidden">
    <div class="container">
      <div class="banner-box">
        <h1 id="headingBig">D</h1>
        <div class="banner-text">
          <h2 id="headingSmall">Design a Space <br> You Love.</h2>
          <h3 id="headingText">Let’s bring your creative <br> imagination to reality.</h3>
        </div>
        <div class="row gx-0">
          <div class="col-md-6 col-xxl-7 ms-auto">
            <div class="banner-img" id="bannerBigimg">
              <img src="../../../assets/image-7.jpg" class="img-fluid" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <section class="company-section white-bg position-relative overflow-hidden">
    <h2 class="title text-center">company</h2>
    <div class="container">
      <div class="row align-items-stretch">
        <div class="col-md-6 align-self-center pb-4 pb-md-5 pb-lg-0">
          <div class="py-lg-5" id="compDescription">
            <div class="pb-md-3 paragraph">
              <p>At Hayatelier, we are dedicated to crafting furniture that marries comfort with sustainability. Our expertly designed chairs, tables, and lamps are not just pieces of furniture, but a testament to our commitment to environmental responsibility and innovative design. Each piece is crafted from 100% recyclable materials, ensuring that our products are as kind to the planet as they are to your living space.</p>
              <p>Hayatelier is more than just a furniture company; it is a beacon of modern design principles fused with ecological consciousness. We believe that the furniture you choose should not only serve its purpose but also contribute positively to the world. By choosing Hayatelier, you embrace a lifestyle that values sustainability, comfort, and style, ensuring that every item in your home makes a statement about your commitment to the environment and your passion for quality design.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="compy-box mt-4 my-md-0 position-relative">
            <img src="../../../assets/image-8.jpg" class="img-fluid" alt="Company">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="designer-section black-bg theme-dark position-relative">
    <h2 class="title text-center">Designers</h2>
    <div class="container">
      <div class="row gx-4 align-items-stretch">
        <div class="col-md-6">
          <div class="designer-box position-relative">
            <div class="team-member team1">
              <img src="../../../assets/yllmir-hamza-designer.png" class="img-fluid" alt="Team Member">
            </div>
            <div class="team-member team2">
              <img src="../../../assets/ardit-hoti-designer.png" class="img-fluid" alt="Team Member">
            </div>
            <div class="team-member team3">
              <img src="../../../assets/ardit-gashi-designer.png" class="img-fluid" alt="Team Member">
            </div>
            <div class="box-border"></div>
          </div>
        </div>
        <div class="col-md-6 align-self-center">
          <div class="py-4 py-lg-5" id="designDescription">
            <div class="pb-3 paragraph">
              <p>
                At Hayatelier, our team of young, experienced designers stands at the forefront of innovation in furniture design. Each member brings a fresh perspective, blending modern aesthetics with functional needs while remaining staunchly committed to sustainability. Our designers thrive on creativity and are passionate about developing furniture that not only looks exceptional but also promotes environmental stewardship. By fostering a collaborative environment that encourages bold ideas and unique approaches, Hayatelier remains a hub for groundbreaking design. Join us in redefining spaces with furniture that's as conscientiously made as it is captivating.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="projects-section white-bg position-relative overflow-hidden">
    <h2 class="title text-center">Projects</h2>
    <div class="container">
      <div class="row align-items-stretch overflow-hidden gy-1 gy-md-0 gx-1 gx-md-3 gx-lg-4">
        <div class="col-md-9">
          <div class="row g-1 g-md-3 g-lg-4 overflow-hidden">
            <div class="col-8">
              <div class="project-box pbox-left">
                <img src="../../../assets/image-11.png" class="img-fluid" alt="Project">
              </div>
            </div>
            <div class="col-4">
              <div class="project-box pbox-right">
                <img src="../../../assets/image-12.jpeg" class="img-fluid" alt="Project">
              </div>
            </div>
            <div class="col-4">
              <div class="project-box pbox-left">
                <img src="../../../assets/image-10.png" class="img-fluid" alt="Project">
              </div>
            </div>
            <div class="col-8 overflow-hidden">
              <div class="project-box project-content">
                <img src="../../../assets/recycle4.png" class="img-fluid bg-img" alt="Project">
                <div class="row align-items-center h-100">
                  <div class="col-10 col-md-8 col-xxl-7 ms-auto">
                    <p>At Hayatelier, our commitment to the environment is unwavering with every product designed to be 100% recyclable. From sleek chairs and tables to elegant lamps, our eco-friendly creations promise sustainability without compromising on style. Choose Hayatelier and invest in furniture that cares for the future.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="project-box big pbox-right">
            <img src="../../../assets/image-6.png" class="img-fluid" alt="Project">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="contact-us position-relative overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Hayatelier</h1>
          <ul class="nav flex-column">
            <li class="nav-item">
              <img src="https://www.yudiz.com/codepen/interior-design/location.svg" class="img-fluid" alt="Location">
              <a class="nav-link pe-none" href="javascript:void(0)">
                Abdyl Frasheri street,
                Prizren,
                Kosovo 20000
              </a>
            </li>
            <li class="nav-item">
              <img src="https://www.yudiz.com/codepen/interior-design/email.svg" class="img-fluid" alt="Email">
              <a class="nav-link" href="mailto:hai@design.com">hayatelier@design.com</a>
            </li>
            <li class="nav-item">
              <img src="https://www.yudiz.com/codepen/interior-design/call.svg" class="img-fluid" alt="Call">
              <a class="nav-link">+383 48 123 456</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="contact-info">
            <div class="contact-box"></div>
            <div class="contact-border"></div>
            <h3 class="follow-us">Follow Us in Social Media!</h3>
            <p>Stay updated on design trends, behind-the-scenes glimpses, and exclusive offers. Join our community today and elevate your feed with Hayatelier's aesthetic inspiration.</p>
            <a href="https://www.instagram.com/hhayatelier/" class="common-btn">Instagram <img src="https://www.yudiz.com/codepen/interior-design/arrow-right.svg" class="img-fluid" alt="Arrow"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  