<div class="button-container">
    <div class="button_wrapper">
      <a href="#" class="button" (click)="handleClick($event)">Get in Touch</a>
    </div>
  </div>
  
  <main>
    <div class="container">
      <div class="lets">
        <h1 class="title">Let's Talk 🎉</h1>
        <h3>hayatelier@gmail.com</h3>
        <p>Unlock your potential. Contact us now.</p>
      </div>
      <div class="message">
        <div class="content">
          <input type="text" placeholder="Full Name">
          <input type="text" placeholder="Email">
          <input type="text" placeholder="Phone Number">
          <textarea placeholder="Message"></textarea>
          <button>Send Message</button>
        </div>
      </div>
    </div>
  </main>
  