<div class="container">
  
    <div class="row">
      <div class="col-sm-12">
        <img class="left img" src="../../assets/image-2.png" alt="Left Image">
      </div>
      <div class="col-sm-12 rightimg">
        <img class="right img" src="../../assets/image-3.jpeg" alt="Right Image">
      </div>
      <div class="col-sm-12 wrapper-img">
        <div class="box"></div>
        <img class="center" src="../../assets/image-4.png" alt="Center Image">
      </div>
    </div>
    
    <div class="header">
      <p class="title">Hayatelier</p>
    </div>
    <div class="hero-container">
      <div class="projects">Projects</div>
    </div>
  </div>