body {
    background-color: #1A0604;
    position: relative;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #cbb6a1;
}